/*Dustin McDowell
    SIU
    date developed 9/13/2022
    date tested 10/27/2022*/
    /*tablet landscape and desktop layout*/
    @media only screen and (max-width:2024px){
        #mobile_menu {display: none;}
    }
    /*tapblet portrait*/
    @media only screen and (max-width:959px){
        #mobile_menu {display: none;}
    }
    /*mobile landscape*/
    @media only screen and (max-width:767px){
        #mobile_menu {display: inline-block;}
        #nav_menu {display: none;}
        header h2 {font-size: 1.375em;}
        header h3 {font-size: .8125em;}
        p {font-size: .875em;}
        article h1, main h2, aside h2 {font-size: 1em;}
        aside li {font-size: .875em;}
    }
    /*mobile portrait*/
    @media only screen and (max-width:479px){
        #mobile_menu {display: inline-block;}
        #nav_menu {display: none;}
        header h2 {font-size: 1.375em;}
        header h3 {font-size: .8125em;}
        p {font-size: .875em;}
        article h1, main h2, aside h2 {font-size: 1em;}
        aside li {font-size: .875em;}
    }
    body {
        width: auto;
        max-width: 725px;
        background-color: #89CFF0;
        text-align: center;
    }
    main {
        width: 50%;
        height: 500px;
        background-color: #ffffff;
        float: left;

    }
    p {
        padding-left: 5px;
        padding-right: 5px;
    }
    aside {
        width: 50%;
        height: 500px;
        background-color: #ffffff;
        float: right;
    }
    h1, h2 {
        padding: 10px;
        clear: both;
    }
    header{
        clear: both;
    }
    footer {
        clear:both;
    }
    .headimg img {
        display: block;
        Border: 2px solid rgba(80, 170, 230, 0.89);
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 0;
        border-radius: 1000px;
        position: relative;
        right: 10px;
        top: 10px;
    }
    .rollimg img{
        display: block;
        margin: auto;
    }
    .serviceimg img{
        display: block;
        margin: auto;
        width: 50%;
    }
    table{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    thead{
        text-align: center;
    }
    tbody{
        text-align: left;
      }
    tfoot{
          text-align: left;
        }
    table, th, td{ 
        border: 1px solid black;
    }
    .salevideo{
        display: block;
        margin: auto;
        width: 75%;
    }
    img {
        position: static;
    }
    nav {
        margin-top: 20px;
    }
    li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .active {
        background-color: #45f3b3;
    }
    #nav_menu ul{ 
        list-style-type: none;
        text-align: center;
    }
    #nav_menu ul li{ 
        display: inline-block;
        background-color: rgba(80, 170, 230, 0.89);
    }
    .l{
        text-align: center;
        list-style-type: none;
    }
    blockquote{
        text-align: center;
    }
